#top {
    margin-top: 2%;
    /*margin-left: 5%;*/
}

.tag_font {
    /*font-family: "Times New Roman", Times, serif;*/
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#left {
    margin-top: 4%;
    /*margin-left: 5%;*/
}

img {
    border-radius: 50%;
}

.name {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.university {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.info {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.content {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

